.task-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f4f7fc;
}

.task-card{
    width:500px;
    background:white;
    padding:30px;
    border-radius:10px;
    box-shadow:0 2px 10px rgba(0,0,0,0.15);
}

.task-card h2{
    text-align:center;
    margin-bottom:25px;
    color:#2563eb;
}

.input-group{
    margin-bottom:18px;
}

.input-group label{
    display:block;
    margin-bottom:8px;
    font-weight:600;
}

.input-group input,
.input-group textarea,
.input-group select{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:6px;
    font-size:15px;
}

textarea{
    resize:none;
}

.button-group{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}

.create-btn{
    background:#2563eb;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}

.cancel-btn{
    background:#6b7280;
    color:white;
    border:none;
    padding:10px 20px;
    border-radius:6px;
}