.user-container{
    width:80%;
    margin:30px auto;
}

.user-header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    margin-bottom:20px;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    border:1px solid #ddd;
    padding:10px;
    text-align:center;
}

th{
    background:#4CAF50;
    color:white;
}

.logout-btn{
    padding:8px 16px;
    background:red;
    color:white;
    border:none;
    cursor:pointer;
}
.table-container{

    overflow-x:auto;

}

@media(max-width:768px){

    .user-header{

        flex-direction:column;
        gap:15px;

    }

}